## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [28]:
#write here and run the cell
for i in range(1,11):
  for j in range(1,11):
    print(j,"x",i,"=",i*j,end="\t")
  print("\t")

1 x 1 = 1	2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9	10 x 1 = 10
1 x 2 = 2	2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18	10 x 2 = 20
1 x 3 = 3	2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27	10 x 3 = 30
1 x 4 = 4	2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36	10 x 4 = 40
1 x 5 = 5	2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45	10 x 5 = 50
1 x 6 = 6	2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54	10 x 6 = 60
1 x 7 = 7	2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63	10 x 7 = 70
1 x 8 = 8	2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72	10 x 8 = 80
1 x 9 = 9	2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81	10 x 9 = 90
1 x 10 = 10	2 x 10 = 20	3 x 10 = 30	4 x 10 = 40	5 x 10 = 50	6 x 10 = 60	7 x 10 = 70	8 x 10 = 80	9 x 10 = 90	10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [26]:
#write here and run the cell
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l3=[0 for i in range(5)]
for i in range(5):
  if(i%2!=0):
    l3[i]=l1[i]
  else:
    l3[i]=l2[i]
print(l3)

[6, 2, 8, 4, 10]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
#write here and run the cell

for i in range(8,0,-1):
    print((8-i)*" ","*"*i)

 ********
  *******
   ******
    *****
     ****
      ***
       **
        *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [21]:
#write here and run the cell
def exponent(base,exp):
  return int(base**exp)


base=int(input("enter base= "))
exp=int(input("enter exponent= "))
value=exponent(base,exp)
print(base,"raises to the power of",exp,"is :",value)

enter base= 5
enter exponent= 4
5 raises to the power of 4 is : 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [23]:
#write here and run the cell
f=open("test.txt","w")
f.write("line1\n")
f.write("line2\n")
f.write("line3\n")
f.write("line4\n")
f.write("line5\n")
f.write("line6\n")
f.write("line7\n")

f.close()

f1=open("test1.txt","w")
f=open("test.txt","r")
for val in f:
  if(val!="line5\n"):
    f1.write(val)

with open("test1.txt", "r") as f1:
    data = f1.read()
    print(data)

line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [18]:
#write here and run the cell
s1=input("Enter string ")
lst=list(s1.split(" "))
for val in lst:
  print(val)

Enter string IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [16]:
#write here and run the cell

def show_employee(name,salary=900):
    print("Name:",name,"salary:",salary)

show_employee("Bill Gates",12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 900

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [15]:
#write here and run the cell
str1 = "Harry25 is Gryffindor Wizard50 and cursed"
lst=list(str1.split(" "))

for i in range(len(lst)):
  for j in lst[i]:
    if(j.isdigit()):
     print(lst[i])
     break

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [ ]:
#write here and run the cell
import string
str1 = '/*Modi is @Politician & Melony!!'

for i in range(len(str1)):
 if str1[i] in string.punctuation:
    str1=str1.replace(str1[i],"#")

print(str1)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [ ]:
#write here and run the cell
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
st=set()
for i in first_list:
  j=i**2
  if j in second_list:
    st.add((i,j))

print(st)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [ ]:
#write here and run the cell

A={2,4,7,9,10}
B={1,4,5,7,11}

print("A-B is ",A-B)
print("B-A is",B-A)
print("A∩B is",A&B)
print("A∪B is",A|B)

A-B is  {9, 2, 10}
B-A is {1, 11, 5}
A∩B is {4, 7}
A∪B is {1, 2, 4, 5, 7, 9, 10, 11}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [13]:
#write here and run the cell
class Vehicle:
  def __init__(self,max_speed,mileage):
    self.max_speed=max_speed
    self.mileage=mileage

v1=Vehicle(80,25)
print(v1.max_speed)
print(v1.mileage)

80
25

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [14]:
#write here and run the cell
class Bus(Vehicle):
  pass

b1=Bus(90,23)
print(b1.max_speed)
print(b1.mileage)

90
23

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [ ]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def seating_capacity(self, capacity=50):
    super().seating_capacity(capacity)
    return f"The seating capacity of a {self.name} is {capacity} passengers"

bus=Bus("bus",60,20)
print(bus.seating_capacity())

The seating capacity of a bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [ ]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def fare(self):
        base_fare = super().fare()
        total_fare = base_fare + (0.1 * base_fare)
        return total_fare


School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [25]:
#write here and run the cell

import json
data={"key1" : "value1", "key2" : "value2"}
json_s=json.dumps(data)

print(json_s)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [24]:
#write here and run the cell

import json
sampleJson = {"id": 1, "name": "value2", "age": 29}
json_string = json.dumps(sampleJson,sort_keys=True,indent=4)


file=open("file.json","w")
file.write(json_string)

with open("file.json","r") as file:
  data=file.read()
  print(data)

{
    "age": 29,
    "id": 1,
    "name": "value2"
}